body {
  margin: 0;
  font-family: sans-serif;
}

.app {
  padding: 1rem;
}

header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.boards {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.unit-pool, .assignment-boards {
  flex: 1;
}

.assignment-boards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.timers {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
